---
title: About Us
permalink: "/about-us/"
layout: default
classes: page-node-4
menu:
  header:
    identifier: _about_us
    url: "/about-us/"
    weight: 3
---

<div class="feature-wrapper">
  <div class="container">
    <div class="pageheader">
      <h1 class="page-header">ABOUT US</h1>
    </div>
  </div>
  <div class="featured">
    <div class="region region-featured">
      <section id="block-block-4" class="block block-block clearfix">
        <div class="animated fadeInUp">
          <div class="container">
            <div class="welcome_landing">
              <div class="animated fadeInLeft delay"><img class="wave" src="/img/wave3.png" /></div>
              <h2>Kinetic - (brand) energy in motion.</h2>
              <div class="feature_sub_landing">We work to uncover energy and inspiration in our client's businesses.</div>
              <a class="services" href="#services"><i class="ion-ios-arrow-thin-down"></i><br />SCROLL</a></div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<div class="main-container container">
  <header role="banner" id="page-header">
  </header>
  <!-- /#page-header -->
  <div class="row">
    <section class="col-sm-12">
      <a id="main-content"></a>
      <div class="region region-content">
        <section id="block-block-12" class="block block-block animated wow fadeInUp wow clearfix">
          <div class="row">
            <div class="col-md-6 ">
              <div class="special">
                <h5>We Are Kinetic</h5><img class="wave" src="/img/wave3.png" />
                <h2 class="body">We help brands gain momentum.</h2>
                <p class="about">Kinetic is a brand and digital agency that helps organizations of all types and sizes develop identities and build their audiences. We use the latest digital technologies and platforms to empower our clients with the best tools to connect
                  with and grow their audience base.</p>
                <p class="about">It is our goal to work with our clients to learn what creates emotion and conversation around their products and services. Then learn how best to communicate with the specific audience spectrum, and leverage the mediums most utilized
                  by a particular group be it Facebook, the telephone or television. Our mission is simple - help our clients find brand momentum and become a <em>vortex</em> to their customers.</p>
              </div>
            </div>
            <div class="col-md-6"><img src="/img/about-1.png" /></div>
          </div>
        </section>
        <section id="block-system-main" class="block block-system clearfix">
          <article id="node-4" class="node node-page clearfix" about="/about-us" typeof="foaf:Document">
            <header>
              <span property="dc:title" content="ABOUT US" class="rdf-meta element-hidden"></span><span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span> </header>
            <footer>
            </footer>
          </article>
        </section>
      </div>
    </section>
  </div>
</div>
<div class="postscript">
  <div class="region region-postscript">
    <section id="block-views-case-studies-block-1" class="block block-views animated wow fadeInUp wow clearfix">
      <div class="view view-case-studies view-id-case_studies view-display-id-block_1 container wow fadeInUp view-dom-id-ed70addea6e20952fec4beeb08352a01">
        <div class="view-header">
          <div class="wow animated fadeInUp" data-wow-delay="600ms"><a name="services" id="services"> </a>
            <div class="text-centered services_sub">
              <h4 class="white">OUR PROJECTS</h4>
              <img alt="wave" src="/img/wave3.png" />
              <h2 class="white">We partner with our clients and build great things together.</h2>
            </div>
          </div>
        </div>
        <div class="view-content">
          <div class="views-responsive-grid views-responsive-grid-horizontal views-columns-6 client-grid">
            {% assign rows = site.categories.case_study.size | divided_by: 6.0 | ceil %}
            {% for i in (1..rows) %}
            <div class="row views-row-1 row">
              {% for case_study in site.categories.case_study limit:5 offset:offset %}
              <div class="col-md-2 col-xs-6 views-column-1 col-md-2 col-xs-6">
                <div class="views-field views-field-field-case-thumb">
                  <div class="field-content">
                    <div class="wow fadeInUp animated" data-wow-delay="100ms">
                      <div class="pdf-thumb-box">
                        <a href="{{ case_study.url }}">
                          <img src="{{ case_study.small_logo }}" alt="{{ case_study.client }}" />
                          <div class="pdf-thumb-box-overlay">
                            <i class="ion-ios-arrow-thin-right"></i>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <section id="block-block-11" class="block block-block clearfix">
      <div class="wow animated fadeInUp" data-wow-delay="600ms">
        <div class="container services_blk_grid">
          <p> </p>
          <div class="text-centered">
            <h4 class="white">Have a Project in Mind?</h4><a href="/contact" class="page-scroll btn btn-xl">Get in Touch</a>
            <p> </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
