---
title: Our Work
permalink: "/case-studies/"
layout: default
menu:
  header:
    identifier: _our_work
    url: "/case-studies/"
    weight: 2
---

<div class="feature-wrapper">
  <div class="container">
    <div class="pageheader">
      <h1 class="page-header">Our Work</h1>
    </div>
  </div>
  <div class="featured"></div>
</div>
<div class="main-container container">
  <header role="banner" id="page-header">
  </header>
  <div class="row">
    <section class="col-sm-12">
      <a id="main-content"></a>
      <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">
          <article id="node-21" class="node node-page clearfix" about="/case-studies" typeof="foaf:Document">
            <header>
              <span property="dc:title" content="Our Work" class="rdf-meta element-hidden"></span>
              <span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>
            </header>
            <div class="field field-name-body field-type-text-with-summary field-label-hidden">
              <div class="field-items">
                <div class="field-item even" property="content:encoded">
                  <div class="wow fadeInUp animated" data-wow-delay="400ms">
                    <div class="row">
                      {% for case_study in site.categories.case_study limit:2 %}
                      <div class="col-md-6 col-xs-6">
                        <div class="wow fadeInUp animated" data-wow-delay="000ms">
                          <div class="large-thumb-box">
                            <a href="{{ case_study.url }}">
                              <div class="large-thumb-box-overlay">
                                <span>
                                  <div class="text">
                                    <h4 class="white">{{ case_study.service }}</h4>
                                    <div class="text-centered"><img src="/img/wave3.png" /></div>
                                    <h2 class="white_2">{{ case_study.client }}</h2>
                                    <div class="feature_subheading">{{ case_study.subheading }}</div>
                                    <button type="button" class="btn btn-primary btn-lg">See Case Study</button>
                                  </div>
                                </span>
                              </div>
                              <img class="img-responsive" src="{{ case_study.small_image }}" alt="{{ case_study.client }}" /></a>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% comment %}
                  The "minus" here and the "plus" below is what causes the offset for the two feature items.
                  {% endcomment %}
                  {% assign feature_item_count = 2 %}
                  {% assign rows = site.categories.case_study.size | minus: feature_item_count | divided_by: 4.0 | ceil %}
                  {% for i in (1..rows) %}
                  <div class="wow fadeInUp animated" data-wow-delay="400ms">
                    <div class="row">
                      {% assign offset = forloop.index0 | plus: feature_item_count %}
                      {% for case_study in site.categories.case_study limit:5 offset:offset %}
                      <div class="col-md-3 col-xs-6">
                        <div class="wow fadeInUp animated" data-wow-delay="000ms">
                          <div class="medium-thumb-box">
                            <a href="{{ case_study.url }}">
                              <div class="medium-thumb-box-overlay">
                                <span>
                                  <div class="text-medium">
                                    <h4 class="white">{{ case_study.service }}</h4>
                                    <div class="text-centered">
                                      <img src="/img/wave3.png" />
                                    </div>
                                    <h2 class="white_2">{{ case_study.client }}</h2>
                                    <button type="button" class="btn btn-primary btn-sm">See Case Study</button>
                                  </div>
                                </span>
                              </div>
                              <img src="{{ case_study.small_image }}" alt="{{ case_study.client }}" /></a>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <footer>
            </footer>
          </article>
        </section>
      </div>
    </section>
  </div>
</div>
<div class="postscript">
  <div class="region region-postscript">
    <section id="block-block-11" class="block block-block clearfix">
      <div class="wow animated fadeInUp" data-wow-delay="600ms">
        <div class="container services_blk_grid">
          <p> </p>
          <div class="text-centered">
            <h4 class="white">Have a Project in Mind?</h4><a href="contact" class="page-scroll btn btn-xl">Get in Touch</a>
            <p> </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
