<div class="navbar-collapse collapse">
  <nav role="navigation">
    <ul class="menu nav navbar-nav">
      <li class="first leaf"><a href="/what-we-do/" title="What we do">WHAT WE DO</a></li>
      <li class="leaf"><a href="/case-studies/">OUR WORK</a></li>
      <li class="leaf"><a href="/about-us/" title="About us">ABOUT US</a></li>
      <li class="leaf"><a href="/blog/" title="News + Perspective">NEWS + PERSPECTIVE</a></li>
      <li class="leaf"><a href="/careers/" title="Jobs with Kinetic">CAREERS</a></li>
      <li class="last leaf"><a href="/contact/" title="Contact Us!">CONTACT</a></li>
    </ul>
  </nav>
</div>
