---
layout: default
---

<div class="main-container container">
  <header role="banner" id="page-header">
  </header>
  <div class="row">
    <section class="col-sm-12">
      <a id="main-content"></a>
      <div class="region region-content">
        <section id="block-system-main" class="block block-system clearfix">
          <div typeof="sioc:Item foaf:Document" class="ds-1col node node-case-study view-mode-full clearfix">
            <div class="field field-name-field-case-large-thumbnail field-type-text-long field-label-hidden">
              <div class="field-items">
                <div class="field-item even">
                  <div class="animated fadeInUp">
                    <div class="feature-header-2">
                      <div class="feature_header_overlay special">
                        <img class="feature_logo" src="/sites/default/files/img/logos/small/lmmd_sm.png" alt="Leadership Montgomery"><br>
                        <div class="animated fadeInLeft delay"><img class="wave" src="/img/wave_wht.png"></div>
                        <h2>{{ page.subtitle }}</h2>
                        <a class="services" href="#services"><i class="ion-ios-arrow-thin-down"></i><br>SCROLL</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="field field-name-body field-type-text-with-summary field-label-hidden wow fadeInUp paragraphs" style="visibility: visible; animation-name: fadeInUp;">
              <div class="field-items">
                <div class="field-item even" property="content:encoded">
                  <a name="services" id="services"></a>
                  {{ page.content }}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  </div>
</div>
